<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="/dashboard"></a>
  </div>
  <ul class="nav navbar-nav">
    <li>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <!-- We'll only show the private deals link if the user is logged in -->
      <a routerLink="/github" *ngIf="authService.isLoggedIn()" routerLinkActive="active">Github Commits</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <!-- We'll show the login link if the user is not currently logged in -->
      <a routerLink="/login" *ngIf="!authService.isLoggedIn()">Log In</a>
    </li>
    <li>
      <!-- On the other hand, if the user is logged in, we'll show a log out link -->
      <a (click)="authService.logout()" *ngIf="authService.isLoggedIn()">Log Out</a>
    </li>
  </ul>
</nav>
<div class='container'>
  <div class='row'>
    <div class="container">
      <router-outlet (deactivate)="onDeactivate()"></router-outlet>
    </div>
  </div>
</div>
